<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<!-- Add vue here! -->
		<!-- anything inside our div/html element here, will be accessible to our view if called -->
		<!-- if you want to use data as an attribute, you need to v-bind or shorthand :title -->
		<div id="app" v-bind:title="message">
			<!-- what data we want to render inside our html element above goes in double curly brackets -->
			<!-- below is a JS block and can be used as such -->
			<h1>{{ title + ' in ' + state }}</h1>
			<img
				src="https://static.wixstatic.com/media/eda29f_46df31384e61475ea4bec584f525a837~mv2.png/v1/fill/w_1225,h_613,al_c,q_90,usm_0.66_1.00_0.01/eda29f_46df31384e61475ea4bec584f525a837~mv2.webp"
				alt="Grasshopper Hopping"
				width="90%"
			/>,
			<p>{{ description }}</p>
			<a :href="link">{{ linkText }}</a>
			<br />
			<br />

			<!-- input field example with automatic reactive p display -->
			<p>{{ inputQuestion }}</p>
			<input type="text" name="field" v-model="answer" />
			<!-- <p>My favorite bug is a: {{ inputExclamation }}</p> -->
			<p>My color was: {{ color }}</p>
			<p>My bug was: {{ insect }}</p>
		</div>

		<div id="second">{{ exclamation + ' ' + reversedMessage }}</div>
	</br>

		<!-- below div used in method example -->
		<div id="methodThird">
			<h1>Do you like insects?</h1>
			<h3>Yes or No?</h3>
			<input name='methodField' v-model='methodField' />
			<p>Your wrote: {{ methodField }} </p>
			<!-- add a click event below -->
			<button @click='modified'>Click ME</button>
		</div>

		<script>
			var app = new Vue({
				//new instance and pass in obj
				el: "#app", // links to id app above
				data: {
					// obj of data to pass around
					title: "Insects A-Z",
					state: "Massachusetts",
					description:
						"Summer brings out lots of bugs: creepy, crawly, flittery, fluttery, helpful, harmful, wierd, and cool! Learn more about the insects you share your world with this book.",
					//"This is an interactive lesson on how to remove the data from the DOM and put it on the Vue instance.",
					link: "https://www.fiasutton.com/clean-contemporary",
					linkText: "See the Book",
					inputQuestion:
						"What's your favorite insect and color? Ex: blue dragonfly",
					field: "",
					color: "",
					insect: "",
				},
				computed: {
					// inputExclamation: function () {
					// 	if (!this.field) {
					// 		return " ";
					// 	}
					// 	return this.field + "!!!!!!!!!!!";
					// },
					answer: {
						get: function () {
							return this.color + " " + this.insect;
						},
						set: function (newValue) {
							let answers = newValue.split(" ");
							//console.log(answers);
							this.color = answers[0]; //bc auto adds a space at front, will learn how to handle better in future but gives idea
							this.insect = answers[1];
						},
					},
				},
			});
			var second = new Vue({
				el: "#second",
				data: {
					pun: "is great",
				},
				computed: {
					//computed properties
					exclamation: function () {
						return app.title + " " + this.pun + " !!!";
					},
					reversedMessage: function () {
						//can run computed properties on computed properties
						return this.exclamation.split("").reverse().join("");
					},
				},
				//v-model allows tie between input field in html to data property in vue instance
			});

			//Methods: are not reactive like computed properties, but are triggerable
			var methodThird = new Vue({
				el: '#methodThird',
				data: {
					methodField: '',
				},
				methods: {
					modified: function() {
						if (this.methodField[0] === 'y'  && this.methodField[1] === 'e'  && this.methodField[2] === 's') {
							this.methodField += '! Yay!';
						} else if (this.methodField[0] === 'n'  && this.methodField[1] === 'o') {
							this.methodField += '? Are you sure?';
						} else {
							this.methodField += ' Can you answer with yes or no, please?'
						}
					}
				}
			})
			


		</script>
	</body>
</html>
